<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>UserInterface</string>
	<key>dependencies</key>
	<array>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>IMcD23/TiltedTabView</string>
			<key>branch</key>
			<string>master</string>
		</dict>
	</array>
</dict>
</plist>
