<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>UserInterface</string>
	<key>url</key>
	<string>git@github.com:IMcD23/UserInterface.git</string>
	<key>dependencies</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://github.com/IMcD23/TiltedTabView.git</string>
			<key>branch</key>
			<string>master</string>
		</dict>
	</array>
	<key>libraryOutputs</key>
	<array/>
	<key>buildSystem</key>
	<string>xcode</string>
	<key>buildArgs</key>
	<array/>
</dict>
</plist>
